
body {
  max-height: fit-content;
  position: relative;
}

#root {
  min-height: 100vh;
  padding-bottom: 60px;
  /* border: 1px solid red; */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

img.carousel {
  height: 180px;
  object-fit: cover;
}