html, body, #root {
  padding: 0;
  margin: 0;
}


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: radial-gradient(#808080, #0d1020);
}
.main-content {
  flex: 1;
}


/* height: 100%; */
/* background: rgba(255, 0, 0, 0.334); */

/* #root {
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
} */
