#root {
  min-height: 100vh;
  background: radial-gradient(#808080, #0d1020);
  position: relative;
  padding-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

img.carousel {
  height: 180px;
  object-fit: cover;
}

.outlined-text {
  font-weight: bold;
  color: antiquewhite;
  -webkit-text-stroke: 1px rgb(51, 51, 51);
}